<form action="/personas" method="post">
    <input type="text" placeholder="Nombre" name="nombre">
    <input type="text" placeholder="Apellido" name="apellido">
    <input type="number" placeholder="Edad" name="edad">
    <input type="submit" value="Enviar">
</form>